@import url("./checkbox.css");

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

textarea {
    resize: none;
}

.marginTop {
  margin-top: 20px;
}

.block {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  padding: 20px;
}

// 去除mavon-editor的默认样式
.v-note-wrapper,
.v-show-content {
  border: none !important;
}
.v-note-wrapper {
  min-height: 0!important;
}

.v-show-content {
  background-color: white !important;
  padding: 0px !important;
}
.markdown-body pre {
  padding: 0px !important;
}

.element::-webkit-scrollbar { width: 0 !important }


::-webkit-scrollbar {
      display: none;
}

// 弹框
.el-dialog__wrapper .tankuang {
  background: url('~@/assets/img/555.png')!important;
  width: 50%!important;
  height: 70%!important;
}

// 特效字体
.threed{
  color: #fafafa;
  letter-spacing: 0;
  font-size: 25px!important;
  text-align: center;
  text-shadow: 
      0px 1px 0px #999, 
      0px 2px 0px #888, 
      0px 3px 0px #777, 
      0px 4px 0px #666, 
      0px 5px 0px #555, 
      0px 6px 0px #444, 
      0px 7px 0px #333, 
      0px 8px 7px #001135 
  }

  // 改变编辑器字体大小
  .hljs {
    font-size: 20px;
}

// 改变编辑器字体大小
.markdown-body pre code {
  font-size: 20px;
}

// mobileNav pc端默认隐藏
#mobileNav {
  display: none;
}

/* 冰冻效果 */
#frozen-btn button {
  border: 0;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  border-radius: 50px;
  color: white;
  outline: none;
  position: relative;
  cursor:pointer;
}

#frozen-btn button:before {
  content: '';
  display: block;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.4) 50%);
  background-size: 210% 100%;
  background-position: right bottom;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 50px;
  transition: all 1s;
  -webkit-transition: all 1s;
}

#frozen-btn .green {
  background-image: linear-gradient(to right, #25aae1, #40e495);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  width: 100%;
}

#frozen-btn .purple {
  background-image: linear-gradient(to right, #6253e1, #852D91);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

#frozen-btn .purple:hover:before {
  background-position: left bottom;
}

#frozen-btn .green:hover:before {
  background-position: left bottom;
}